@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-link {
    @apply hover:text-dark-blue border-b-4 mt-[4px] border-transparent;
  }
}

:root {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

.menu-link:hover {
  border-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 1;
}
